aula5.ipynb
deeplearning1.ipynb
Untitled-1.ipynb
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
ProjetoAC2/imagens/image copy 2.png
ProjetoAC2/imagens/image copy 3.png
ProjetoAC2/imagens/image copy 4.png
ProjetoAC2/imagens/image copy 5.png
ProjetoAC2/imagens/image copy 6.png
ProjetoAC2/imagens/image copy 7.png
ProjetoAC2/imagens/image copy 8.png
ProjetoAC2/imagens/image copy 9.png
ProjetoAC2/imagens/image copy 10.png
ProjetoAC2/imagens/image copy.png
ProjetoAC2/imagens/image.png
